<header class="header">
    <div class="logo-box">
        <img src="{% static 'img/pytonixs.svg' %}" class="logo" alt="Pytonixs Ltd logo">
    </div>
    <div class="text-box">
        <h1 class="heading-primary">
        <span class="heading-primary--main">
            Pytonixs Ltd
        </span>
        <span class="heading-primary--sub">
            infinite possibilities
        </span>
        </h1>
    </div>
{% if messages %}
    <div class="messages">
    <ul>
{% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
    </ul>
</div>
    {% endif %}