.footer{
    background:  linear-gradient(to right,
    rgba($color-primary-light, 0.9), 
    rgba($color-primary-dark, 0.6));
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 5rem;

        @include respond(tab-port){
            margin-bottom: 6rem;
        }
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navagation{
        padding: 1rem;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: .5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            color: $primary-font-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-left: .5rem;
        }

        &:hover,
        &:active{
            color: $color-primary-dark;
            box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
        }
    }

    &__copyright{
        text-align: center;
        color: #eee;
        padding: 2rem;
        display: inline-block;
        margin: 0 auto;
        width: 100%;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }
}