.about-section{
    color: $secondary-font-color;
    padding-bottom: 15rem;
    

    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: 4rem;
    }
}

.process{
    padding: 5rem 0;
    background: #417ac7;
    border-radius: 2.5rem;
    text-align: center;

    @include respond(phone){
       
        border-radius: 0;
        padding: 4rem 0;
    }

    @include respond(tab-port){
       
        border-radius: 0;
        padding: 1rem 0;
    }

    @include respond(tab-land){
        border-radius: 0;
        padding: 2rem 0;
    }
}

.process-box{
    color: $secondary-font-color;
    background-color: #edc876;
    padding: .7rem;
    border-radius: 2.5rem;

    @include respond(tab-port){
        
        border-radius: 0;
        text-align: center;
        margin-bottom: 1rem;
    }

    @include respond(tab-land){
       
        border-radius: 0;
    }

    &__img{
        width: 62.25%;
        display: block;
        margin: 0 auto;

        @include respond(phone){
            display: none;
        }

        @include respond(tab-port){
            width: 40%;
        }
    
        @include respond(tab-land){
            width: 50%;
        }
    }

    &__text{
        font-size: 1.8rem;
        margin-top: 1rem;


        @include respond(tab-port){
            text-align: center;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        @include respond(tab-land){
            text-align: center;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
    }
}

.feature-section{
    padding: 15rem 0;
    background-image: linear-gradient(to left bottom,
    rgba($color-primary-light, 0.6), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/about-page.jpg);
    background-size: cover;
    background-position: bottom;

    @include respond(tab-port){
        padding: 5rem 0;
    }

    @include respond(tab-land){
        padding: 20rem 0;
       
    }
}

.project-section{
    color: $secondary-font-color;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.review-section{
    position: relative;
    padding: 5rem 0;

    @include respond(tab-port){
        padding: 5rem 0 5rem 0;
    }
}

.service-section {
    padding: 10rem 0;

    @include respond(tab-port){
        padding: 5rem 0;
        margin-bottom: 5rem;
    }

    @include respond(tab-land){
        padding: 5rem 0;
        margin-bottom: 5rem;
    }
    
}

.blog-featured{
    display: flex;
}

.blog-section{
    padding: 12rem 0;
    background-image: radial-gradient(circle,
    rgba($color-primary-dark, 0.5), 
    rgba($primary-bg-color, 0.1));

    @include respond(phone){
       padding: 8rem 0;
    }

    @include respond(tab-port){
        padding: 8rem 0;
    }

    @include respond(tab-land){
        padding: 8rem 0;
    }

    &__text{
        width: 57%;
        color: $primary-font-color;
        padding: 5rem;
        margin: 0 auto;

        @include respond(phone){
            width: 50%;
            padding: 3rem;
        }

        @include respond(tab-port){
            width: 80%;
            padding: 5rem;
        }

        @include respond(tab-land){
            width: 80%;
            padding: 5rem;
        }

        &--bolder{
            display: block;
            font-size: 2rem;
            font-weight: 600;
            padding-bottom: .5rem;
        }

    }

    &__btn{
        text-align: center;  
    }

    @include respond(tab-port){
       
        padding: 15rem 0;
    }

    @include respond(tab-land){
        padding: 15rem 0;
    }
}

.contact-section{
    padding: 46rem 0;
    position: relative;
}